.formWrapper {
  width: 50%;
  max-width: 500px;
  margin: auto;
  background-color: #94c9f5;
  padding: 1rem 1rem 0;
  border-radius: 5px;
}

.formDisplay {
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.formLabelError {
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.formInput {
  background-color: rgb(225, 229, 231);
  margin-bottom: 1rem;
}

.formInputError {
  background-color: rgb(227, 75, 106);
  color: #fff;
}

.formButton {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
